.projects-container {
  overflow: visible;
}
.projects-wrapper {
  padding: 50px 0;
}
.projectSlider {
  margin: auto;
  @media (max-width: 767px) {
    max-width: 87%;
  }
  .swiper-button-disabled {
    opacity: 0;
  }
}
