.Email-container {
  display: block;
  max-width: 300px;
  margin: auto;
  text-align: center;
  h3.Email-title {
    font-size: 1.2rem;
    transition: 0.5s;
  }
  .email-link {
    display: flex;
    transition: 0.5s;
    justify-content: center;
    padding: 15px 15px 30px;
    i {
      transition: 0.5s;
      font-size: 90px;
    }
  }
}
