.projectItem {
  transition: 0.5s;
  position: relative;
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    opacity: 0;
  }
  .button-container {
    opacity: 0;
    position: absolute;
    bottom: -150px;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    .projectLink {
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: 0.5s;
      padding: 10px 30px;
      background-color: rgb(37 99 235 / 1);
      border-radius: 30px;
      &:hover {
        background-color: rgb(96 165 250 / 1);
      }
    }
  }

  .projectname {
    position: absolute;
    bottom: -170px;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    opacity: 0;
  }
  &:hover {
    .project-overlay {
      opacity: 1;
    }
    .button-container {
      bottom: 20px;
      opacity: 1;
    }
    .projectname {
      opacity: 1;
      bottom: 50%;
      font-size: clamp(1.875rem, 1.7105rem + 0.8224vw, 2.5rem);
    }
  }
}
