
.pie {
  -webkit-tap-highlight-color: #0000;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px #0003;
  cursor: pointer;
  height: 430px;
  right: -220px;
  position: absolute;
  top: -213px;
  width: 422px;
  transition: transform .3s;
}
.pie-color:hover {
  opacity: 0.85;
}
.pie-color:active {
  opacity: 0.7;
}

.pie-color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    filter: brightness(2);
    transform: scale(1.01);
  }
}
nav {
  position: fixed;
  right: 0px;
  top: 4px;
  z-index: 9999999;
}
.icon {
  width: 25px;
  height: 25px;
  position: absolute;
}
.pie1 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 0ms;
  z-index: 302;
  .home {
    left: 338px;
    top: 332px;
    transform: rotate(230deg);
  }
}
.pie2 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 50ms;
  z-index: 303;
  .about {
    left: 314px;
    top: 355px;
    transform: rotate(253deg);
  }
}
.pie3 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 100ms;
  z-index: 304;
  .skills {
    left: 312px;
    top: 358px;
    transform: rotate(265deg);
  }
}
.pie4 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 150ms;
  z-index: 305;
  .works {
    left: 317px;
    top: 354px;
    transform: rotate(278deg);
  }
}
.pie5 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 200ms;
  z-index: 306;
  .projects {
    left: 315px;
    top: 358px;
    transform: rotate(305deg);
  }
}
.pie6 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 200ms;
  z-index: 306;
  .contact {
    left: 316px;
    top: 342px;
    transform: rotate(309deg);
    height: 35px;
    width: 35px;
  }
}
.pie-color1 {
  background: linear-gradient(135deg, #444, #010a0a);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color2 {
  background: linear-gradient(135deg, #444, #04252e);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color3 {
  background: linear-gradient(135deg, #444, #083148);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color4 {
  background: linear-gradient(135deg, #444, #061b33);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color5 {
  background: linear-gradient(135deg, #444, #043033);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color6 {
  background: linear-gradient(135deg, #444, #007aff);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}

.card {
  left: 216px;
  position: absolute;
  top: 300px;
  width: 46px;
}
.discount {
  left: 288px;
  position: absolute;
  top: 258px;
  width: 46px;
}
.cart {
  left: 324px;
  position: absolute;
  top: 188px;
  width: 46px;
}
.menu {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 200px;
  right: -100px;
  position: absolute;
  top: -100px;
  width: 200px;
  transition: 0.3s;
  z-index: 310;

  &:hover {
    background-color: #fff;
    svg.hamburger {
      g {
        stroke: #000;
      }
    }
  }
}
.active {
  .menu {
    background-color: #fff;
    transition-delay: 300ms;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);

    svg.hamburger {
      g {
        stroke: #000;
      }
    }
  }
}

.hamburger {
  cursor: pointer;
  height: 46px;
  left: 19%;
  position: relative;
  top: 58%;
  width: 46px;
}
svg.hamburger {
  g {
    stroke: #fff;
  }
}
.title {
  color: white;
  font-family: "Crimson Text", serif;
  font-size: 80px;
  line-height: 84px;
  margin-top: 60px;
  text-align: center;
}
.hamburger path {
  transition: transform 300ms;
}
.hamburger path:nth-child(1) {
  transform-origin: 25% 29%;
}
.hamburger path:nth-child(2) {
  transform-origin: 50% 50%;
}
.hamburger path:nth-child(3) {
  transform-origin: 75% 72%;
}
.hamburger path:nth-child(4) {
  transform-origin: 75% 29%;
}
.hamburger path:nth-child(5) {
  transform-origin: 25% 72%;
}

.active .pie1 {
  transform: rotate(132deg);
}
.active .pie2 {
  transform: rotate(108deg);
}
.active .pie3 {
  transform: rotate(94deg);
}
.active .pie4 {
  transform: rotate(81deg);
}
.active .pie5 {
  transform: rotate(66deg);
}
.active .pie6 {
  transform: rotate(51deg);
}

.active .hamburger path:nth-child(1) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(2) {
  transform: scaleX(0);
}
.active .hamburger path:nth-child(3) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(4) {
  transform: rotate(-45deg);
}
.active .hamburger path:nth-child(5) {
  transform: rotate(-45deg);
}
