@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

.pie {
  -webkit-tap-highlight-color: transparent;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 400px;
  right: -200px;
  position: absolute;
  top: -200px;
  width: 400px;
  /*  transform: translateX(-200px) translateY(-200px); */
  transition: transform 300ms;
}
.pie-color:hover {
  opacity: 0.85;
}
.pie-color:active {
  opacity: 0.7;
}

.pie-color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    filter: brightness(2);
    transform: scale(1.01);
  }
}
nav {
  position: fixed;
  right: 0px;
  top: 4px;
  z-index: 300;
}
.icon {
  width: 31px;
  height: 31px;
  position: absolute;
}
.pie1 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 0ms;
  z-index: 302;
  .home {
    left: 305px;
    top: 298px;
    transform: rotate(230deg);
  }
}
.pie2 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 50ms;
  z-index: 303;
  .about {
    left: 292px;
    top: 313px;
    transform: rotate(253deg);
  }
}
.pie3 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 100ms;
  z-index: 304;
  .work {
    left: 294px;
    top: 314px;
    transform: rotate(276deg);
  }
}
.pie4 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 150ms;
  z-index: 305;
  .projects {
    left: 295px;
    top: 315px;
    transform: rotate(293deg);
  }
}
.pie5 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 200ms;
  z-index: 306;
  .contact {
    left: 295px;
    top: 320px;
    transform: rotate(314deg);
  }
}
.pie-color1 {
  background: linear-gradient(135deg, #444, #010a0a);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color2 {
  background: linear-gradient(135deg, #444, #04252e);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color3 {
  background: linear-gradient(135deg, #444, #083148);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color4 {
  background: linear-gradient(135deg, #444, #061b33);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color5 {
  background: linear-gradient(135deg, #444, #043033);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}

.card {
  left: 216px;
  position: absolute;
  top: 300px;
  width: 46px;
}
.discount {
  left: 288px;
  position: absolute;
  top: 258px;
  width: 46px;
}
.cart {
  left: 324px;
  position: absolute;
  top: 188px;
  width: 46px;
}
.menu {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 200px;
  right: -100px;
  position: absolute;
  top: -100px;
  width: 200px;
  transition: 0.3s;
  z-index: 310;

  &:hover {
    background-color: #fff;
    svg.hamburger {
      g {
        stroke: #000;
      }
    }
  }
}
.active {
  .menu {
    background-color: #fff;
    transition-delay: 300ms;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);

    svg.hamburger {
      g {
        stroke: #000;
      }
    }
  }
}

.hamburger {
  cursor: pointer;
  height: 46px;
  left: 19%;
  position: relative;
  top: 58%;
  width: 46px;
}
svg.hamburger {
  g {
    stroke: #fff;
  }
}
.title {
  color: white;
  font-family: "Crimson Text", serif;
  font-size: 80px;
  line-height: 84px;
  margin-top: 60px;
  text-align: center;
}
.hamburger path {
  transition: transform 300ms;
}
.hamburger path:nth-child(1) {
  transform-origin: 25% 29%;
}
.hamburger path:nth-child(2) {
  transform-origin: 50% 50%;
}
.hamburger path:nth-child(3) {
  transform-origin: 75% 72%;
}
.hamburger path:nth-child(4) {
  transform-origin: 75% 29%;
}
.hamburger path:nth-child(5) {
  transform-origin: 25% 72%;
}

.active .pie1 {
  transform: rotate(130deg);
}
.active .pie2 {
  transform: rotate(106deg);
}
.active .pie3 {
  transform: rotate(87deg);
}
.active .pie4 {
  transform: rotate(67deg);
}
.active .pie5 {
  transform: rotate(47deg);
}

.active .hamburger path:nth-child(1) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(2) {
  transform: scaleX(0);
}
.active .hamburger path:nth-child(3) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(4) {
  transform: rotate(-45deg);
}
.active .hamburger path:nth-child(5) {
  transform: rotate(-45deg);
}
