@media (max-width: 768px) {
  .carousel-jobs {
    max-width: 96vw;
    padding: 10px;
  }
}
.job-tools {
  padding: 1rem;
  border-radius: 15px;
}
ol.job-tools-list {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.job-description {
  margin-bottom: 8px;
}
