nav.navswitcher {
    width: fit-content;
    top: 24px;
    left: 18px;

    .currentlanguage{
        cursor: pointer;
        
        position: relative;
        z-index: 9;
        &:hover{
            transform: scale(1.2) rotate(10deg);
        }
    }
    .flags{
        position: absolute;
        left: 0;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        transition: 0.3s;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }
}
.active{
    .sp{
        left:40px !important;
    }
    .en{
        left: 80px !important;
    }
}