form {
  .iform {
    object-fit: contain;
    display: block;
    z-index: 1;
    transform-style: preserve-3d;
  }
  input:not([type="submit"]),
  textarea {
    border-bottom: 1px solid white;
    padding: 0.5rem;
    font-size: 18px;
    transition: 0.3s;
    &:focus,
    &:focus-visible,
    &:focus-within {
      border-color: rgb(0, 122, 255);
      outline: none;
    }
  }
  input.react-international-phone-input {
    display: block;
    width: 100%;
    background: transparent !important;
    border-radius: 0;
  }
  .react-international-phone-input-container.input.form-input.block.w-full.bg-transparent {
    padding: 0;
    padding-top: 11px;
    display: flex;
  }
  input.react-international-phone-input {
    border-radius: 0px !important;
    border: 0px !important;
    border-bottom: 1px solid #fff !important;
    color: white !important;
  }
  button.react-international-phone-country-selector-button {
    background: transparent;
    border: 0px;
    border-radius: 0px !important;
    border-bottom: 1px solid white;
    &:hover {
      background: transparent;
      border: 0px;
      border-radius: 0px !important;
      border-bottom: 1px solid white;
    }
  }

  .input-group {
    position: relative;
    .input {
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      outline: none;
    }
    .placeholder {
      position: absolute;
      top: 10px;
      left: 8px;
      font-size: 14px;
      padding: 0px 5px;
      color: #666;
      transition: 0.3s;
      pointer-events: none;
    }
    .input:focus + .placeholder,
    input.react-international-phone-input:focus,
    .placeholder.active {
      top: -10px;
      color: rgb(0, 122, 255);
    }
    &.alert {
      input:not([type="submit"]),
      textarea,
      button.react-international-phone-country-selector-button,
      input.react-international-phone-input {
        border-bottom: 1px solid red !important;
      }
    }
  }
}
