#cards-items {
  .swiper {
    width: 240px;
    max-width: 350px;
    min-height: 600px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  .swiper-slide {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: stretch;
  }
  .card-container {
    position: relative;
    height: 421px;
    width: 350px;

    .front-card,
    .back-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
        -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      button.changeClass {
        position: absolute;
        z-index: 10;
        top: 6px;
        right: 10px;
        display: flex;

        svg {
          width: 35px;
          height: 35px;
          path {
            fill: white;
            stroke: #fff;
          }
        }
      }
    }
    .front-card {
      transform: rotateY(0deg);
    }
    .back-card {
      transform: rotateY(180deg);
    }
    &.active {
      .front-card {
        transform: rotateY(-180deg);
      }
      .back-card {
        transform: rotateY(0deg);
      }
    }
  }
}
